/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin: 20px 0; /* Adjust as needed */
}

/* Header Styling */

.custom-header {
  background-color: #f9f9f9; 
  padding: 20px 0;
  text-align: center; 
}


.header-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 30px; 
  flex-wrap: wrap; 
}

/* Logo Styling */
.logo {
  font-size: 2.5rem;
  font-weight: bold;
}


.header-nav ul {
  list-style: none; 
  display: flex; 
  gap: 70px; 
  padding: 0; 
  margin: 0; 
}

.header-nav a {
  text-decoration: none;
  font-size: 1rem;
  color: #333; 
  font-weight: 600;
}

.header-nav a:hover {
  color: #007BFF; 
  transition: color 0.3s ease;
}


/* Icons */
.header-icons {
  display: flex;
  gap: 1rem;
}

.icon {
  padding: 0.5rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  font-weight: bold;
}

/* Parallax Sections */
.parallax {
  height: 100vh; 
  background-attachment: fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
}

/* Specific styling for more-info links within parallax-1 */
.parallax-1 .more-info {
  list-style: none;
  font-size: 1.5rem; /* Increase font size for readability */
  text-align: center;
  margin: 0.5em 0; 
  font-weight: bold;
}

.parallax-1 .more-info a {
  color: white; 
  text-decoration: none;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

.parallax-1 .more-info a:hover {
  text-decoration: underline; 
}

/* Ensure the links stay white when hovered */
.parallax-1 .submenu-link {
  color: white;
}

.parallax-1 {
  background-image: url('img/Assata Shakur.jpg'); 
}

.parallax-2 {
  background-image: url('img/Assata-Collage.png'); 
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1366px) {
  .parallax {
      background-attachment: scroll;
  }
}

/* Content Section */
.content-section {
  height: 1000px;
  background-color: #f0f0f0;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.content-section:nth-child(odd) {
  background-color: #ffffff; /* White */
}

.content-section:nth-child(even) {
  background-color: #f0f0f0; /* Light gray */
}

/* Footer Styling */
.footer {
  background-color: #f8f8f8;
  padding: 2rem 1rem;
  text-align: center;
  color: #333;
}

/* Responsive Adjustments */
@media screen and (max-width: 600px) {
  .header-container {
      flex-direction: column;
  }
  
  .header-nav ul {
      flex-direction: column;
      align-items: center;
  }
}


/* Stories */
#stories {
  margin-top: 50px;
  
  
}


@media (max-width: 768px) {
  .timeline-content {
    width: 180px; 
    height: auto; 
  }
}


.timeline-wrapper {
  position: relative; 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 350px;
}

.timeline-container {
  position: relative;
  display: flex;
  justify-content: space-around; 
  align-items: center;
}
.timeline-line {
  position: absolute; 
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #6366f1, #8b5cf6, #d946ef); 
  top: 50%; 
  transform: translateY(-50%); 
  z-index: 1; 
}

.timeline-content {
  width: 200px; 
  height: 150px; 
  background: white;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); 
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto; 
}


.timeline-title {
  font-size: 1rem; 
  font-weight: 600;
  color: #1f2937;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; 
  word-wrap: break-word; 
}

.timeline-date {
  font-size: 0.9rem; 
  font-weight: 500;
  color: #6366f1;
  margin-bottom: 8px;
  white-space: nowrap; 
}

.timeline-content p {
  font-size: 0.9rem; 
  color: #6b7280;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: normal; 
  word-wrap: break-word; 
  line-height: 1.5; 
}


.timeline-events {
  position: relative;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  padding: 0 30px; 
  gap: 15px;
}


.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 250px;
  margin: 0 30px;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.timeline-marker {
  width: 40px;
  height: 40px;
  background: white;
  border: 4px solid #2575fc;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.timeline-dot {
  width: 24px;
  height: 24px;
  background: #fff;
  border: 3px solid #6366f1;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  cursor: pointer;
}

.timeline-dot::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #6366f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease;
  opacity: 0;
}

.timeline-event:hover .timeline-dot::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0.3;
}

.timeline-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: #6366f1;
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 70%);
  padding-top: 350px;
}

.timeline-arrow.right {
  right: -15px;
  padding-top: 350px;
}


.timeline-event.active .timeline-content {
  opacity: 1;
  transform: translateY(0);
}

.timeline-event.active .timeline-dot {
  background: #6366f1;
  transform: scale(1.2);
}

.timeline-description {
  font-size: 1rem;
  color: #6b7280;
  line-height: 1.8;
  color: black;
  margin-bottom: 1px;
}

.timeline-content:hover {
  transform: scale(1.05); 
}

.timeline-carousel__item-inner .read-more {
  font-size: 14px;
  color: #e9c46a;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.timeline-carousel__item-inner .read-more:hover {
    color: #f4a261;
}

.nav-button {
  position: absolute;
  top: calc(50% + 175px); 
  transform: translateY(-50%);
  background: #6366f1;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  transition: all 0.3s ease;
}

.prev-button {
  left: -50px; 
}

.next-button {
  right: -50px; 
}


.nav-button:hover {
  background: #4f46e5;
  transform: translateY(-50%) scale(1.1);
}

.nav-button:disabled {
  background: #c7d2fe;
  cursor: not-allowed;
  transform: translateY(-50%);
}


.nav-button svg {
  width: 20px;
  height: 20px;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.timeline-arrow.right {
  right: -15px;
}

.timeline-image {
  width: 100%;
  max-width: 200px; 
  height: auto;
  margin-bottom: 10px;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}


.modal-content {
  background: white;
  padding: 20px;
  width: 1000px; 
  height: 900px; 
  margin: auto; 
  position: relative;
  top: 50%; 
  transform: translateY(-50%); 
  border-radius: 12px;
  overflow-y: auto; 
}

.modal-image-container {
  text-align: center; 
  margin-top: 20px; 
}

.modal-image {
  width: auto; 
  height: auto; 
  object-fit: cover; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

.modal-close:hover {
  color: #d32f2f;
}


/* About */
/* Styling for the About Section */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

/* General Styling */
.content-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
}

/* Container for Images */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px; /* Space between items */
  margin-top: 20px;
}

/* Individual Image and Text */
.image-item {
  text-align: center;
  max-width: 300px; /* Optional: Limit item width */
}

.image-item img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

/* Name Styling */
.image-item .name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

/* Description Styling */
.image-item .description {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #555;
  margin: 0 auto;
  padding: 0 10px; /* Optional: Add padding for better readability */
}


.section-title {
  font-size: 2rem;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 10px;
}


